
/* items */

.ca_article {
    text-align: center;
    height: 100%;
    margin-top: -30px;
}

.ca_article > h1 {
    height: 75px;
    line-height: 145px;
    color: #2d2d2d;
}

.ca_article > p {
    height: 75px;
    line-height: 55px;
    color: #676767;
}

#ca_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1300px;
    margin: 0 auto;
}

.ca_item {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    margin-bottom: 40px;
}

.ca_it_img {
    width: 400px;
    height: 465px;
    transition: .5s;
}

.ca_item:hover .ca_it_img {
    filter: brightness(50%);
    scale: 1.05;
}

.ca_it_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    padding: 4px;
    color: #2d2d2d;
}

.ca_it_cont hr {
    border: 0;
    height: 1px;
    background-color: #afafaf;
}

.ca_it_name {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.ca_it_price {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

/* detailed */

.de_article {
    display: flex;
    width: 1000px;
    height: 600px;
    margin: 50px auto;
}

.de_item {
    display: flex;
    width: 100%;
    height: 100%;
}

.de_article img {
    width: 50%;
    height: 100%;
}

#de_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 60%;
}

#detail_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    height: 200px;
    margin-left: 100px;
}

#detail_cont h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #afafaf;
    color: #232323;
}

#detail_cont p {
    color: #232323
}

#detail_cont p:nth-child(5) {
    padding-bottom: 10px;
    border-bottom: 1px solid #afafaf;
}

.de_article button {
    margin-left: 300px;
    width: 60%;
    height: 45px;
    font-size: 16px;
    color: white;
    background-color: #393939;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.de_article button:hover {
    background-color: #202020;
}