#myPg {
	position: relative;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 500px;
	height: 450px;
    color: #232323;
    font-weight: bold;
    border-top: 2px solid #afafaf;
    border-bottom: 2px solid #afafaf;
}

#myPg form:nth-child(1) {
    height: 450px;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.info:nth-child(7) {
    margin-bottom: 25px;
}

.btns {
	height: 60px;
    display: flex;
    justify-content: space-evenly;
}

#myPg input[type=text], #myPg input[type=password] {
    width: 300px;
    height: 30px;
    font-size: 18px;
    color: #232323;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #afafaf;
    padding-left: 10px;
    transition: .5s;
}

#myPg input:focus {
    outline: none;
    border: 1.5px solid #2d2d2d;
}

#myPg input[type=submit] {
    margin-top: 15px;
    width: 40%;
    height: 45px;
    font-size: 16px;
    color: white;
    background-color: #393939;
    border: none;
    cursor: pointer;
    transition: .5s;
}

#myPg input[type=submit]:hover {
    background-color: #202020;
}

#myPg input[type=submit]:nth-child(1) {
    background-color: #676767;
}

#myPg input[type=submit]:nth-child(1):hover {
    background-color: #393939;
}

#myPg form:nth-child(2) {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 385px;
	left: 575px;
}

#del {
	width: 150px !important;
}

/*admin*/
#ad_art {
	margin: 0 auto;
	margin-bottom: 50px;
	width: 1000px;
	height: 100%;
}

#ad_art td {
	width: 235px;
	text-align: center;
}

#ad_art tr td:nth-child(5) {
	width: 350px;
	height: 35px;
}