
/* login */

.log_article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin-top: -30px;
}

#loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
    height: 650px;
}

#loginContainer h3 {
    font-size: 30px;
    font-weight: lighter;
}

#loginContainer form {
    width: 100%;
}

#loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#loginBox:after {
    content: "";
    width: 85%;
    margin-top: 30px;
    border-bottom: 1px solid #2d2d2d;
}

#loginBox input[type=text], #loginBox input[type=password] {
    width: 80%;
    height: 50px;
    font-size: 14px;
    color: #2d2d2d;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #afafaf;
    transition: .5s;
}

#loginBox input::placeholder {
    transition: .3s;
}

#loginBox input:focus {
    outline: none;
    border-bottom: 1.5px solid #2d2d2d;
    place-content: #2d2d2d;
}

#loginBox input:focus::placeholder {
    color: #2d2d2d;
}

#loginBox input[type=submit] {
    margin-top: 15px;
    width: 85%;
    height: 45px;
    font-size: 16px;
    color: white;
    background-color: #393939;
    border: none;
    cursor: pointer;
    transition: .5s;
}

#loginBox input[type=submit]:hover {
    background-color: #202020;
}

#loginOption {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#loginOption a {
    color: #232323;
    transition: .3s;
}

#loginOption a {
    color: #232323;
}

#loginOption a:hover {
    color: #afafaf
}