* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

*:before, 
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header {
    position: relative;
    height: 330px;
}

#hd_tp {
    position: fixed;
    width: 1912px;
    height: 40px;
    background-color: rgba(255, 255, 255, .95);
    border-bottom: 1px solid rgb(0, 0, 0, .1);
    z-index: 10000;
}

#hd_tp_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 0 0 0 1300px;
    line-height: 40px;
}

#hd_tp_ul li a {
    position: relative;
    text-decoration: none;
    color: #2d2d2d;
    font-size: 14px;
    letter-spacing: .5px;
    padding-bottom: 2.5px;
    transition: .5s;
}

#hd_tp_ul li:nth-child(4) {
    font-weight: bold;
}

#hd_tp_ul li a:after {
    content: "";
    position: absolute;
    background-color: #2d2d2d;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: .3s;
}

#hd_tp_ul li a:hover { 
    color: #afafaf;
}

#hd_tp_ul li a:hover:after { 
    width: 100%;
}

#hd_logo {
    display: flex;
    justify-content: center;
    height: 250px;
}

#hd_logo a {
    width: 500px;
    height: 100px;
    margin-top: 90px;
}

#hd_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1903px;
    height: 50px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .95);
    border: 1px solid rgb(0, 0, 0, .1);
    transition: .0s;
    z-index: 10000;
}

#hd_bt_ul {
    display: flex;
    justify-content: space-between;
    width: 600px;
    font-size: 14px;
}

#hd_bt_ul li:nth-child(6) {
    font-weight: bold;
}

#hd_bt_ul li a {
    position: relative;
    text-decoration: none;
    color: #2d2d2d;
    font-size: 18px;
    letter-spacing: .5px;
    padding-bottom: 2.5px;
    transition: .5s;
}

#hd_bt_ul li a:after {
    content: "";
    position: absolute;
    background-color: #2d2d2d;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: .3s;
}

#hd_bt_ul li a:hover { 
    color: #afafaf;
}

#hd_bt_ul li a:hover:after { 
    width: 100%;
}

/* login */

article {
    text-align: center;
    height: 100%;
    margin-top: -30px;
}

#slide {
    width: 1903px;
    height: 550px;
}

article > h1 {
    height: 75px;
    line-height: 145px;
    color: #2d2d2d;
}

article > p {
    height: 75px;
    line-height: 55px;
    color: #676767;
}

#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1300px;
    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    margin-bottom: 40px;
}

.it_img {
    width: 400px;
    height: 465px;
    transition: .5s;
}

.item:hover .it_img {
    filter: brightness(50%);
    scale: 1.05;
}

.it_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    padding: 4px;
    color: #2d2d2d;
}

.it_cont hr {
    border: 0;
    height: 1px;
    background-color: #afafaf;
}

.it_name {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.it_price {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

/* footer */
footer {
    height: 200px;
    background-color: black;
    color: white;
    font-size: 14px;
}

#ft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 300px;
    font-weight: lighter;
    line-height: 25px;
}

#ft p:nth-child(1) {
    line-height: 35px;
    font-weight: bold;
}